.cliente-container{
  width: 100%;
  max-width: 1200px;
  padding: 5 5px;
  margin: 30px auto;
}

.cliente-container header{
  display: flex;
  align-items: center;
}

.cliente-container header button{
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #DCDCE6;
  background-color: green;
  margin-left: 16px;
  transition: border-color 0.5s;
}

.cliente-container header button:hover{
  border-color: #510bac;
}

table, th, td{
  border: 1px solid black;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  text-align: left;
}